.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: contact;
    background-color: #FFF;
    margin-top: 130px;
    border-top: 20px solid #0DE67B;
}

.contact .form{
    padding: 20px 0;
}


.contact .box-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contact .box-contact h3{
    font: normal normal 700 4rem 'Roboto';
    color: #0F123F;
    max-width: 485px;
}

.contact .box-contact .form{
    display: flex;
    margin-bottom: 50px;
}

.contact .box-contact input{
    box-shadow: 1px 1px 5px 1px rgb(190, 190, 190) ;
    border-radius: 15px;
    height: 52px;
    text-align: center;
}

.contact .box-contact textarea{
    border-radius: 3px;
    box-shadow: 1px 1px 5px 2px rgb(190, 190, 190);
    margin: 10px 20px;
    resize: none;
}

.contact .box-contact .form-email{
    margin: 20px;
}

.contact .box-contact  .box{
    display: flex;
    margin: 20px;
    gap: 10px;
}

.contact .box-contact .mini-box{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
}

.contact .box-contact .mini-box a{
    margin-left: 45px;
}

.contact .box-contact  .box input{
    width: 50%;
}

.contact .box-contact .form-email input{
    width: 100%;
}

.contact .box-contact span{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.3rem;
}

.contact .box-contact form .btn{
    margin-left: 20px;
    cursor: pointer;
    border-radius: 15px;   
    background-color: #0DE67B;
    box-shadow: 1px 1px 5px 1px rgb(190, 190, 190);
    padding: 15px 85px;
    color: white;
}

.contact .box-contact form .btn:hover{
    background-color: #099c53;
}

@media(max-width: 375px){
    .contact .box-contact .mini-box{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .contact .box-contact .mini-box a{
        margin-left: 0;
    }
}