.function{
    grid-area: function;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FFF;
    padding: 0 121px;
    margin-top: 160px;
}

.function .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.function .item h2{
    font-size: 5rem;
    font-weight: 700;
    max-width: 400px;
}

.function .item p{
    font-size: 1.8rem;
    font-weight: 400;
    color: #8794BA;
    margin-top: 15px;
    max-width: 440px;
}

.function .image{
    background-color: #FFF;
}

.function .image img{
    display: flex;
    width: 100%;
}