.headline{
    grid-area: headline;
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
}

.headline .container-headline{
    display: flex;
    justify-content: space-between;
    
}

.headline .text{
    padding-top: 210px;
    max-width: 650px;
    color: #FFF;
    padding-left: 40px;
}

.headline .text h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 60px;
}

.headline .text p{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 27px;
    color: #8794BA;
    margin-top: 15px;
}

.headline .text a{
    display: inline-block;
    font-weight: 700;
    font-size: 1.6rem;
    background-color: #0DE67B;
    padding: 15px 85px;
    border-radius: 68px;
    text-align: center;
    margin-top: 20px;
}

.headline .text a:hover{
    background-color: #099c53;
    transition: 0.3s ease-in-out;
    
}

@media(max-width: 1214px){
    .headline .text{
        padding-top: 110px;
    }

    .headline .container-headline .image img{
        width: 533px;
        height: 535px;
    }
}

@media(max-width: 1134px){
    .headline .text a{
        padding: 15px 50px;
    }
}

@media(max-width: 1024px){

    .headline .text h1{
        font-size: 4.8rem;
    }

    .headline .text p{
        font-size: 1.2rem;
    }

    .headline .text a{
        font-size: 1.1rem;
    }

    .headline .container-headline .image img{
        width: 533px;
        height: 535px;
    }
}

