.header{
    grid-area: header;
   
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;  
}

.header .header-container ul{
    display: flex;
}

.header nav ul li{
    padding: 30px;
    font-size: 1.6rem;
    font-weight: 500;
}

.header nav ul li a:hover{
    color: #0DE67B;
    transition: 0.3s ease-in-out;
}

.header .header-container a img{
   text-transform: uppercase;
   margin-left: 50px;
}

@media(max-width: 768px){
    .header .header-container{
        flex-direction: column;
        margin-top: 40px;
    }

    .header .header-container nav{
        margin-top: 30px;
    }

    .header nav ul li{
        padding: 50px;
    }

}

@media(max-width: 375px) {
    .header .header-container ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .header .header-container a img{
        display: flex;
        margin-left: 0;
        font-size: 4rem;
    }

    .header .header-container a{
        display: flex;        
    }

    .header nav ul li{
        font-size: 2.5rem;
    }
}