html{
    font-size: 68.5%;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-areas: "header header"
                         "headline headline"
                         "product product"
                         "function function"
                         "contact contact"
                         "footer footer";
    grid-template-columns: 2, 1fr;
    background-color: #0F123F;
}

.header{
    grid-area: header;  
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-container ul{
    display: flex;
    padding-right: 40px;
}

.header nav ul li{
    padding: 30px;
    font-size: 1.6rem;
    font-weight: 500;
}

.header nav ul li:hover a{
    color: #0DE67B;
    transition: 0.3s ease-in-out;
}

.header .header-container a img{
   font-size: 3.1rem;
   text-transform: uppercase;
   padding: 40px;
   margin-left: 30px;
   font-weight: 900;
}

.headline{
    grid-area: headline;
    display: grid;
    grid-template-columns: 1fr;
}

.headline .container-headline{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.headline .text{
    margin-top: 210px;
    max-width: 550px;
    color: #FFF;
    margin-left: 40px;
}

.headline .text h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 60px;
}

.headline .text p{
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 27px;
    color: #8794BA;
    margin-top: 15px;
}

.headline .text a{
    display: inline-block;
    font-weight: 700;
    font-size: 1.6rem;
    background-color: #0DE67B;
    padding: 15px 85px;
    border-radius: 68px;
    text-align: center;
    margin-top: 20px;
}

.headline .text a:hover{
    background-color: #099c53;
    transition: 0.3s ease-in-out;
    
}

.product{
    grid-area: product;
}

.product .text-product{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
    color: #FFF;    
}

.product .text-product h2{
    font-size: 5rem;
    font-weight: 700;
}

.product .text-product p{
    font-size: 2rem;
    max-width: 1041px;
    margin-top: 20px;
}

.product .container-product{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 32px;
    color: #0F123F;
}

.product .container-product .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 465px;
    height: 578px;
    background-color: #FFF;
    border-radius: 10px;
}

.product .container-product .title{
    font-size: 1.8rem;
    font-weight: 700;
    max-width: 320px;
    margin-top: 50px;
}

.product .container-product p{
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 340px;
    margin-top: 40px;
}

.product .container-product .p-right{
    max-width: 350px;
}

.product .container-product .card.left img,
.product .container-product .card.right img{
       margin-top: 40px;
}

.function{
    grid-area: function;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FFF;
    padding: 0 88px;
    margin-top: 160px;
}

.function .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.function .item h2{
    font-size: 5rem;
    font-weight: 700;
    max-width: 400px;
}

.function .item p{
    font-size: 1.8rem;
    font-weight: 400;
    color: #8794BA;
    margin-top: 15px;
    max-width: 440px;
}

.function .image{
    background-color: #FFF;
}

.function .image img{
    display: flex;
    width: 100%;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: contact;
    background-color: #FFF;
    margin-top: 130px;
    border-top: 20px solid #0DE67B;
}


.contact .box-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contact .box-contact h3{
    font: normal normal 700 4rem 'Roboto';
    color: #0F123F;
    max-width: 485px;
}

.contact .box-contact .form{
    display: flex;
    margin-bottom: 50px;
}

.contact .box-contact input{
    box-shadow: 1px 1px 5px 1px rgb(190, 190, 190) ;
    border-radius: 15px;
    height: 52px;
    text-align: center;
}

.contact .box-contact textarea{
    border-radius: 3px;
    box-shadow: 1px 1px 5px 2px rgb(190, 190, 190);
    margin: 10px 20px;
    resize: none;
}

.contact .box-contact .form-email{
    margin: 20px;
}

.contact .box-contact  .box{
    display: flex;
    margin: 20px;
    gap: 10px;
}

.contact .box-contact  .box input{
    width: 50%;
}

.contact .box-contact .form-email input{
    width: 100%;
}

.contact .box-contact form .btn{
    margin-left: 20px;
    cursor: pointer;
    border-radius: 15px;   
    background-color: #0DE67B;
    box-shadow: 1px 1px 5px 1px rgb(190, 190, 190);
    padding: 15px 85px;
    color: white;
}

.contact .box-contact form .btn:hover{
    background-color: #099c53;
}


.footer{
    grid-area: footer;
    background-color: #FFF;
    padding: 30px;
}

.footer .container-footer{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 30px;
    margin-top: 40px;
    border-top: 1px solid #2A407C;

}

.footer nav ul{
    display: flex;
}

.footer nav ul li{
    padding: 10px;
}
.footer nav ul li a{
    color: #8794BA;
    margin-right: 40px;
}